.titlePage {
    text-align: center;
    font-size: 22px;
    border-bottom: 1px solid rgba(146, 157, 184, 0.48);
    border-top: 1px solid rgba(146, 157, 184, 0.48);
    margin: 0 20px 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    border: 1px solid #acc9da;
    padding: 10px 30px;
    margin: 15px 0;
}

.imgBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
}

.img:hover, .followBtn:hover, .btn:hover {
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(76, 119, 171, 0.2);
}

.btn, .followBtn {
    padding: 2px 10px;
    background-color: #eff1f5;
    border-radius: 5px;
    font-weight: bold;
    color: inherit;
}

.followBtn {
    margin: 5px;
    width: 100px;
}

.red {
    color: #f1e8e8;
    background-color: #d9161d;
}

.red:hover {
    background-color: #ff1313;
}

.green {
    color: #f1e8e8;
    background-color: #408d37;
}

.green:hover {
    color: #f1e8e8;
    background-color: #36a629;
}

.infoBox {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoBottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 1.1em;
    font-weight: bold;
}

.name {
    display: inline-block;
}

.description {
    margin-top: -10px;
    text-align: justify;
    text-indent: 20px;
}

.showBtn {
    padding: 10px 20px;
    background-color: rgba(76, 119, 171, 0.2);
    color: inherit;
    transition: background-color 100ms;
}
.showBtn:hover {
    background-color: rgba(89, 125, 171, 0.51);
}

.activePage {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.pages {
    font-size: 20px;
    margin: 0 5px;
}

.pages:hover {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
}
.disabled:hover {
    cursor: inherit;
}
.searchBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search{
    padding: 5px;
    width: 30%;
    color: inherit;
    border-radius: 5px;
    outline: none;
}
.search:hover{
    box-shadow: 0 0 3px #c3c6cc;
}
.search:focus{
    box-shadow: 0 0 3px #3d5067;
}