.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.newPost {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

textarea {
    width: 607px;
    height: 100px;
    resize: none;
    background-color: rgba(181, 190, 212, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    text-align: right;
    margin-right: 30px;
}

button {
    margin: 10px;
    padding: 3px 15px;
}

button:hover {
    cursor: pointer;
}