header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.8)
}
.logo {
    display: flex;
    align-items: center;
}

header a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

header a:hover {
    text-shadow: 0 0 2px #929db8;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}
.loginBox {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.logoutBtn {
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    text-shadow: inherit;
    font-weight: inherit;
}
.logoutBtn:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #929db8;
}