.title {
    text-align: center;
    font-size: 22px;
    border-bottom: 1px solid rgba(146, 157, 184, 0.48);
    border-top: 1px solid rgba(146, 157, 184, 0.48);
    margin: 0 20px 15px;
}

.friends {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 10px;
}