.post {
    margin: 20px 0;
}

.postContent {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.avatar {
    width: 70px;
    border-radius: 50%;
}

.message {
    margin-left: 20px;
}

.like {
    padding: 2px 10px;
    border-radius: 5px;
}

.like:hover {
    cursor: pointer;
    background-color: rgba(76, 119, 171, 0.2);
}

div > span {
    margin-left: 30px;
}