.post {
    margin: 20px 0;
}

.postContent {
    display: flex;
    align-items: center;
    padding: 0 20px 10px;
}

.avatar {
    width: 70px;
    border-radius: 50%;
}

.message {
    margin-left: 20px;
}

.like {
    padding: 2px 10px;
    border-radius: 5px;
}

.like:hover {
    cursor: pointer;
    background-color: rgba(76, 119, 171, 0.2);
}

.likesCount {
    margin: 0 20px;
}

.button {
    margin: 10px;
    padding: 3px 15px;
    background-color: #eff1f5;
    border-radius: 5px;
    font-size: inherit;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(76, 119, 171, 0.2);
}