.app-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f0f2f7;
    color: rgba(9, 22, 42, 0.8);
    font-family: "Noto Sans CJK JP", sans-serif;
    font-size: 16px;
    line-height: 1.33333;
}

header, footer, .content, aside {
    padding: 20px;
}

header, footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(315deg, rgba(71, 91, 114, 0.98) 0%, rgba(43, 61, 86, 0.98) 98.94%);
}

a {
    text-decoration: none;
}




