.dialogs {
    display: grid;
    grid-template-areas: 'dialogs messages';
    grid-template-columns: 1fr 3fr;

}

.names {
    grid-area: dialogs;
    border-right: 1px solid rgba(59, 77, 101, 0.4);
    padding-right: 20px;
}

.messages {
    grid-area: messages;
    padding: 30px;
}

